.rating-info img{
    width: 20px;
    height: 20px;
    margin-left: 7px;
}
.rating-info{
    display: flex;
    align-items: center;
}

.reviews-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.review-cart{
    border-radius: 8px;
    border: 1px solid rgb(251, 240, 236);
    background-color: rgba(242, 207, 195, 0.314);
    box-shadow: 0px 8px 15px rgba(183, 179, 179, 0.098);
    transition: all 0.3s ease 0s;
    /* color: rgb(154, 154, 155);
    padding: 30px; */
}

.review-cart:hover{
    background-color: #ffffff;
    box-shadow: 0px 15px 20px rgba(247, 188, 156, 0.29);
    /* color: #f68051; */
    transform: translateY(-1px);
  }

  @media only screen and (max-width: 600px) {
    .reviews-container{
        grid-template-columns: 1fr;
        width: 100%;
    }

  }